@import "tailwindcss";
@import "tailwindcss-primeui";

@import "./fonts.css";

:root {
  font-family: "MuseoSansCyrl", Arial, sans-serif;
  line-height: 1.5;

  color-scheme: none;
  background: #eee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-wrapper {
  @apply flex w-full max-w-[1440px] items-start;
}
